canvas { border: 1px solid blue; }

.buttons {
    position: absolute;
    bottom: 50px;
    left: 34%;
    width: 300px;
    height: 50px;
    display: flex;
}

.btn {
    min-height: 40%;
    min-width: 40%;
    font-weight: bold;
    font-size: small;
    display: flex;
    margin: 3px;
}

table {
    width: 30%;
}
  
th, td {
padding: 15px;
text-align: center;

}
th {
background-color: #4CAF50;
color: white;
}

tr {
    color: yellow;
    background-color: rgb(165, 41, 41, 0.8);
    font-size: 17px;
}

.background { 
    background: url('/images/background2.png');
    height: 600px;
}