
body {
    background: url('picture.jpg') center 15% no-repeat;
    position: fixed;
    background-size: 100%;
    font-family: 'Marck Script', cursive;
}

li, h3 {
    color: white;
    margin-left: 15px;
}